.profile {
  display: flex;
  align-items: center;
  margin: 40px auto 50px auto;
}

@media (max-width:780px) {
  .profile {
    display: block;
    text-align: center;
    margin: 42px auto 36px auto;
  }
}